:root{
  --verdeJogo: rgba(106, 129, 105, 0.863);
  --verdeEscuroJogo: rgba(103, 126, 106, 0.986);
  --pretoJogo: rgba(10, 0, 0, 0.678) ;
  --gradienteAzul: linear-gradient(to bottom left, #00000a 0%, #1f1f1f 51%);
  
}

.container {
  grid-area: tela;

}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 7px solid var(--verdeEscuroJogo);
  outline: 2px solid var(--pretoJogo) ;
  outline-offset: -7px;
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.247);
  padding: 1px;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: var(--pretoJogo);
  border-radius: 3px;
  outline: 2px solid var(--verdeEscuroJogo);
  outline-offset: -4px;
    
}

.mini-grid {
  /*margin-left: 50px;*/
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  /*background-color: rgba(115, 144, 114, 0.863);*/
  border: 2px solid rgba(0, 0, 0, 0.678);
  outline-offset: -7px;
  
}

.mini-grid div {
  height: 15px;
  width: 15px;
}


#start-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(216, 212, 0);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 2px solid rgba(14, 14, 0, 0.767);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;

}

#sound-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(216, 212, 0);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 2px solid rgba(14, 14, 0, 0.767);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;

}

#onOff-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(216, 212, 0);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 2px solid rgba(14, 14, 0, 0.767);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;

}

#reset-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgb(216, 212, 0);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 2px solid rgba(14, 14, 0, 0.767);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;

}

.containerTela{
  
  filter: drop-shadow(0 0 5px rgb(61, 61, 61));
  background-color: var(--verdeEscuroJogo);
  justify-items: center;
  align-items: center;
  width: auto;
  height: 420px;
  box-shadow: inset -3px -2px 3px rgba(0, 0, 0, 0.349) ;
  outline: 4px solid rgb(119, 33, 62);
  outline-offset: 9px;
  border: 9px outset rgba(1, 4, 37, 0.74) ;  /*ridge borda*/
  display: grid;
  grid-template-columns: 220px 90px;
	grid-template-rows: auto 90px auto;
	grid-template-areas:
		"tela score"
    "tela minitela";

}

.containerMiniGrid {
  grid-area: minitela; 

}

.containerMenu {
  grid-area: score;
  font-family: Arial, Helvetica, sans-serif;
}

.externo4 {
  display: grid;
  grid-area: botoesMenores;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: -90px;
  
}

.ext4Div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 340px;
  height: 64px;
   
}

.ext4Div > h4{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 6px;
  padding-top: 2px;
  color: rgba(255, 255, 255, 0.582);
  font-family: Arial, Helvetica, sans-serif;

}

.ext4Div div{
  display: flex;
  justify-content: center;
  padding: 28px;
  padding-bottom: 0px;
  padding-top: 15px;
}

.game{
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 450px;
  border: 2px solid rgb(10, 10, 71);
  border-radius: 12px;
  background-image: var(--gradienteAzul);
  box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.301);
  min-height: 800px;
  min-width: 450px;
  margin: auto;
  grid-column: 360px;
	grid-template-rows: auto 80px 200px;
	grid-template-areas:
		"telaCompleta"
    "meio"
		"botoesMenores";
}

.velocidade{
  grid-area: velocidade;
}


.elevacao{
  grid-area: meio;
  background-image: linear-gradient(rgb(24, 23, 23), rgb(39, 39, 39), rgb(24, 23, 23));
  width: 450px;
  height: 90px;
  margin-top: 20px;
   
}

body{
  margin: auto;
  background-color: silver;
  padding-top: 20px;
}

.nomeDiv{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scoreDiv{ text-align: center;}

.levelDiv{ text-align: center;}